<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>融媒体指挥中心</title>
	<link rel="shortcut icon" href="../../../images/favicon.ico" />
	<link rel="stylesheet" href="../../../3rd/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../../css/default.css" />
    <link rel="stylesheet" href="./css/index.css"/>
	<script type="text/javascript" src="../../../3rd/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../../3rd/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../../3rd/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../js/central.proxy.js"></script>
	<script type="text/javascript" src="../../../js/util.js"></script>
	<script type="text/javascript" src="../../../js/detail.show.js"></script>
	<script type="text/javascript" src="./js/index.js"></script>

    <style>
    </style>
</head>

<body class="breaking-news-page">
	<div class="area">
		<div class="logo glyphicon glyphicon-eye-open"></div>
		<h2 class="area-title"></h2>
	</div>
    <div class="gallery-breaking-news">
        <div class="x-base-line">
			<div class="x-base-line-head"></div>
            <div class="x-base-line-tail"></div>
        </div>
        <div class="breaking-news-bubbles">
        </div>
    </div>
</body>

</html>